.svg {
  margin: 100px auto;
  border-radius: 50%;
  background-color: rgb(216, 237, 238);
}

.svg-circle-bg {
  fill: none;
}

.svg-circle {
  fill: none;
  stroke-linecap: round;
  transform-origin: center;
  transform: rotate(-90deg);
  transform-box: fill-box;
}
.svg-circle-text {
  font-size: 2rem;
  text-anchor: middle;
  fill: tomato;
  font-weight: bold;
}
